.div-details {
    color: white;
    margin-top: 120px;
    font-size: 26px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 10px;
    
}

.name-details{
    text-transform: capitalize;
}

.details-text {
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 18px;
}

.details-text p {
    margin-left: 20px;
    font-size: 25px;
}

.weight-details {
    display: flex;
    align-items: center
}

.height-details {
    display: flex;
    align-items: center
}

.types-details {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.hp-details {
    display: flex;
    align-items: center
}

.attack-details {
    display: flex;
    align-items: center
}

.defense-details {
    display: flex;
    align-items: center
}

.speed-details {
    display: flex;
    align-items: center
}

.image-details {
    margin-left: 50%;
  
}
.image-details img{
    max-width: 475px;
    max-height:  475px;
}