.Container-div-home {
    color: white;
}

.Container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
}

.Container-card .card-title2 .Class-Card:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}



.container-Subnav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    width: 33%;
    margin: auto;
}

.poke-h1 {
    width: 33%;
    font-size: 26px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 10px;
}

.poke-pagination {
    width: 33%
}

.card-title2 {
    text-decoration: none;
    margin: 10px;
}

.pokebola {
    position: absolute;
    top: 35%;
    left: 45%
}


@media screen and (max-width: 640px) {

    .container-Subnav {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .poke-pagination {
        position: fixed;
        bottom: 0%;
        margin-left: 43%;
    }

    .filter {
        width: 5%;
        margin-top: 200px;
        margin-left: 40%;
        font-size: 1em;
    }

    .poke-h1 {
        margin-top: 0;
        margin-right: 40%
    }

    .Class-Card {
        padding-bottom: 40px;
    }

}