.button-Search{
    position: absolute;
    top: 40px;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: gainsboro;
    color:black;
    font-size: 26px;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 10px;
    padding: 10px 80px;
    border-color: rgba(166,158,112,255);
   border-width: 2px;
   border-style: solid;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button-Search:hover {
    background-color: black;
    color: white;
}

.error-search{
    position: absolute;
    top:50px;
    left: 68%;
    color:red;
}

.input-Search{
    position: absolute;
    top:22px;
    left:61%;
    font-size: 26px;
    padding: 5px 30px;
    border-color: rgba(166,158,112,255);
    border-width: 2px;
    border-style: solid;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 10px;
}